# MinerU Output Validation Report

**Date:** 2026-07-17 23:13

| Metric | Count |
|---|---|
| Total papers | 38 |
| Compatible | 38 |
| Failed | 0 |

## Compatible Folders

- Liu 等 - 2020 - Rapid Characterization of the July 2019 Ridgecrest, California, Earthquake Sequence From Raw Seismic-FAA4JYRC
- Zhou 等 - 2021 - A high-resolution seismic catalog for the 2021 MS6.4MW6.1 Yangbi earthquake sequence, Yunnan, China.pdf-a188feb1-2973-4fa4-b707-b97aa174eae2
- Literature review on deep learning for the segmentation of seismic images-YUB9FY6Q
- Yadav 等 - 2025 - Hybrid lightweight transformer for efficient landslide change detection in remote sensing imagery.pdf-d50f131c-b377-4460-8a5c-9913a8278147
- tsr-2021001.1.pdf-bd06980f-c9f3-4fa4-aeab-d0f6d6a33fb5
- Şener和Ergen - 2024 - LandslideSegNet an effective deep learning network for landslide segmentation using remote sensing.pdf-68ed30b6-e754-4338-8fd0-ce60a5bcf092
- zhu2018.pdf-b5963bad-6896-4b64-b218-3f9b5a4c92be
- Literature-review-on-deep-learning-for-the-segmentation-of-seismic-images.pdf-cb8637d0-3d99-4095-b574-428cb2308196
- 硕士毕业论文初稿v11.docx-d3dce535-857f-4a20-8401-3b5214b26fb4
- ross2020.pdf-319a04d4-c4bf-47b6-aeb8-ce3654d84eb3
- Park 等 - 2020 - Machine‐Learning‐Based Analysis of the Guy‐Greenbrier, Arkansas Earthquakes A Tale of Two Sequences-D98KRK3B
- McBrearty和Beroza - 2023 - Earthquake Phase Association with Graph Neural Networks.pdf-de0530a4-5811-488a-9651-8f9a7671e8c0
- park2020.pdf-5f7aa978-8ce1-4053-a175-20d3715d529c
- Ding 等 - 2023 - High-resolution seismicity imaging and early aftershock migration of the 2023 Kahramanmaraş (SE Türk.pdf-e3bf5ec2-65f9-4757-8ce8-9e7831c981b1
- Mousavi 等 - 2020 - Earthquake transformer—an attentive deep-learning model for simultaneous earthquake detection and ph-ZN6HHVJ7
- Weber和Kan - 2020 - BUILDING DISASTER DAMAGE ASSESSMENT IN SATELLITE IMAGERY WITH MULTI-TEMPORAL FU-.pdf-fb3486e9-b17d-4152-b954-91b4bd452655
- Fang 等 - 2022 - SNUNet-CD A Densely Connected Siamese Network for Change Detection of VHR Images.pdf-a5830dbe-84a4-4114-82c4-55c059653c61
- Tan 等 - 2021 - Machine-Learning-Based High-Resolution Earthquake Catalog Reveals How Complex Fault Structures Were-43PF2JMB
- Using a Deep Neural Network and Transfer Learning to Bridge Scales for Seismic Phase Picking-9W23DNVG
- Seismic Facies Segmentation via a Segformer-Based Specific Encoder–Decoder–Hypercolumns Scheme-8PQBD3RU
- annurev-earth-071822-100323.pdf-9a70ce64-31d0-4383-8119-1f6ca9fbc69a
- Si 等 - 2024 - An all-in-one seismic phase picking, location, and association network for multi-task multi-station.pdf-8a6e77c2-f4a0-498b-b86e-e5069eef9275
- Mousavi和Beroza - 2023 - Machine Learning in Earthquake Seismology-XYZBCLGH
- Zhang 等 - 2020 - A deeply supervised image fusion network for change detection in high resolution bi-temporal remote.pdf-6dbf493f-afab-431d-8a0a-352fa28ae2ff
- Zhou 等 - 2022 - Seismological Characterization of the 2021 Yangbi Foreshock‐Mainshock Sequence, Yunnan, China More.pdf-155cbe33-2dc5-4af7-9930-ec0d6d69bc80
- Lv和Peng - 2026 - DTPPAn efficient depthwise separable TCN for seismic phase picking.pdf-6ec18a94-1219-495c-b910-46f8653fe331
- Zhu和Beroza - 2018 - PhaseNet A Deep-Neural-Network-Based Seismic Arrival Time Picking Method-VSG3K538
- Abdallah 等 - 2024 - Automated deformation detection and interpretation using InSAR data and a multi-task ViT model.pdf-bd0d85e1-11ee-4b4a-a728-75290aff88d2
- Liu 等 - 2025 - Deep Learning for Automatic Detection of Volcanic and Earthquake-Related InSAR Deformation.pdf-133bbcc3-4f87-419f-874a-d394a1997d35
- 2312.16717v1.pdf-02e09c3b-9eb7-431d-bd0a-4f99cd221909
- Ghorbanzadeh 等 - 2022 - Landslide4Sense Reference Benchmark Data and Deep Learning Models for Landslide Detection.pdf-a4cfc830-4943-46b6-859d-0e71ebba8701
- Ross 等 - 3D fault architecture controls the dynamism of earthquake swarms-KGC7EEQX
- mousavi2020.pdf-1e8cf44d-14b9-4217-8b73-5bd9f30165a3
- chai2020.pdf-a31f1ca0-679c-4ffc-9af2-56fde3f21605
- Bandara和Patel - 2022 - A Transformer-Based Siamese Network for Change Detection.pdf-4e820481-75e7-467b-9869-1ef40db602f0
- liu2020.pdf-de81d3ee-26c7-4d08-a1a8-0e945a65544c
- Chai 等 - 2020 - Using a Deep Neural Network and Transfer Learning to Bridge Scales for Seismic Phase Picking
- Chen 等 - 2022 - Remote Sensing Image Change Detection With Transformers.pdf-0650cfba-bb66-485f-ba67-ecd029175725
